*{
    margin:0;
    padding:0;
    font-family: "Raleway", sans-serif;
}
body{
    background-color: #D6DDED;
}
.hero_container{
    background-image: url("Assets/Hero-bg.png");
    max-width: 100%;
    height: 350px;
}
.nav_section{
    margin-left:80px;
    margin-right: 80px;
    padding-top:20px;
    display: flex;
    justify-content:space-between;
}
.logo{
    color:#4E47FF;
    font-weight:bold;
    padding-top:15px;
    padding-bottom: 15px; 
}
.logo p{
    font-weight:bolder;
}
#btn{
    color:#FFFFFF;
    background-color:#4E47FF; 
    border-radius:3px;
    border-style:none;
    font-weight: bolder;
}
#btn:hover {
    background:rgb(245, 225, 9);
    color:black;
}


.signup_btn button{
    width: 70px;
    height:30px;
    margin-top:10px;
}
.signup_btn button p{
    font-size: smaller;
}
/*=========bannner section====== */
.banner_section{
    text-align: center;
    margin:30px 60px;
}
.banner_section h1{
    font-size: 60px;
}
.Focused_btn button {
    margin-top: 30px;
    width: 100px;
    height:30px;
}
.Focused_btn button p{
    font-size: smaller;
}

/*=========Action container========*/
.action_container{
    max-width: 100%;
    height: 300px;
    padding:80px 80px 80px 80px;
    margin:80p;
}
.action_section{
    display: flex;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    justify-content:space-between;
}
/*=======left side======*/
.left_side{
    padding-top:70px;
    padding-bottom:40px;
    padding-right: auto;
    width: 300px;
    height: 200px; 
}
.title h2{
    color:#252432;
    font-weight: bold;
    padding-top:20px;
    font-size: 40px;
}
.title p{
    color:#322432;
    font-size: 15px;
    opacity:50%;
    padding-top:25px;
}
.preview_btn button{
    margin-top:25px;
    width:150px;
    height:40px;
}
/*==========right site=======*/
.right_site{
    padding-left: 20px;
}
.right_site img{
    border-radius: 20px;
    width: 300px;
    max-width: 100%;
    height: 300px;
}
/*=============|User Container=========*/
.user_container{
    background-color:#4E47FF20;
    border-radius: 24px;
    max-width: 100%;
    height: 250px;
    margin-left:60px;
    margin-right: 60px;
}
.title_centerd{
    color:#252432;
    text-align: center;
    padding-top:20px;
}
.title_centerd h2{
    font-size:40px;
}
.all_data{
    display:flex;
    justify-content: space-evenly;
    padding-top:25px;
    padding-left:5px;
    padding-right: 5px;
}
.all_data h2{
    color:#4E47FF;
    font-size: 55px;
}
.all_data p{
    color:#322432;
    font-size: 15px;
    opacity:50%;
    padding-top:8px;
}
/*=====User Review container=======*/
.review_container{
    max-width: 100%;
    height: 250px;
    margin-left:60px;
    margin-right: 60px;
    margin-top:50px;
}
.review_title h2 {
    color:#252432;
    text-align: center;
    font-size: 50px;
}

/*=======riview box 1 to 3=======*/

.review_box{
    background-color: #F2EDED;
    border-radius:5px;
    padding:10px;
    margin-left:15px;
    margin-right:15px;
    width:260px;
    height: 130px;
    margin-top:30px;
}

.all_box{
    display:flex;
}
#text h3{
    padding-top: 10px;
}
#text p{
    font-size: small;
    padding-top: 10px;
}
.avater{
    /* border-radius: 2px;
    width:30px;
    height: 30px; */
   
    padding-top:10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}
.avater img{
    width: 30px;
    height: 30px;
    border-radius:15px;
    position:relative;
    right:23.3px;
}
.avater h5{
    position: relative;
    right:35px;
}
.avater p{
    color:#322432;
    font-size: 15px;
    opacity:50%;
    position:relative;
    right:150px;
    top:15px;
}
/*===========focus section========*/
.focus_container{
    max-width: 100%;
    height: 350px;
    background-color:#FFFFFF;
    border-radius: 10px;
    margin:80px;
    padding:auto 80px auto 80px;
    text-align: center;
}
.focus_section h2{
    padding-top:20px;
    font-size: 40px;
}
.focus_section p{
    font-size: 13px;
    padding-top:5px;
}
.focus_section img{
    border-radius: 20px;width:700px;
    height: 160px;
}
.stard_btn{
    padding:15px 15px;
}
.stard_btn button{
    width:120px;
    height:30px;
}
/*============Touch container==========*/
.touch_container{
    max-width: 100%;
    height: 350px;
    border-radius: 10px;
    margin:80px;
    padding:auto 80px auto 80px;
    background-color: #D6DDED;
}

.touch_section{
    display: flex;
    justify-content: space-between;
}
.left_side2{
    width:330px;
}
.left_side2 h1{
   font-size: 60px; 
   padding-top:100px;
}
/*=====Right site2========*/
.right_side2{
    padding-top:30px;
    margin-right:0px;
    width: 400px;
}
#label{
    color:#000000;
    padding-top:5px;
}
input{
    width:90.9%;
    padding:10px;
    margin-top:3px;
    margin-bottom:10px;
    border-radius: 10px;
    border-style: none;
    background-color:#FFFFFF;
}
#message{
    height: 80px;
    /*===placeholder arektu upore hobe==*/
}
.touch_btn button{
    width:96%;
    height:30px;
    margin-top:10px;
    margin-right:50px;
}
/*=====footer_container=====*/
.footer_container{
    background-color: #FFFFFF;
    max-width:100%;
    height: 250px;
}
.footer_section{
    text-align: center;
}
.footer_section h1{
    color:#4E47FF;
    font-size: 80px;
    font-weight:900;
    padding-top:40px;
}
.footer_section p{
    color:#8987A1;
    font-size:15px;
    padding-left:250px;
    padding-right: 260px;
    padding-top:15px;
}
.all_link{
    display: flex;
    gap:30px;
    padding-left: 330px;
    padding-right: 200px;
    padding-top:20px;
}
